/* Tyler Graham 11/10/2025 Week 12 Project */

/* Header and Paragraph Styles */
h3, p {
    text-align: center;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

input, select, textarea {
    margin-bottom: 0.5em;
}

/* Media Query */
@media screen and (min-width: 768px) {
    form {
        display: grid;
        width: 60%;
        max-width: 30em;
        gap: 1em;
        grid-template-columns: 6em 1fr;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    form > input[type="submit"] {
        grid-column: 2;
        width: 10em;
    }
}